    <ion-view view-title="3D Room">
            <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-email" onclick="openDraft()"></button>
      </ion-nav-buttons>

      <ion-content class="padding">
                <a class="item item-icon-left assertive" onclick="audioControl()">
            <i class="icon ion-music-note" ></i>
          </a>
        <div class="card">
          <div class="item">
            <p>Create a 3D room</p>
          </div>    
        </div>
        <div id="test">  
          <button class="button button-dark" ng-click="addRoom()">
          Add Room
        </button>  
        <button class="button button-dark" ng-click="addBed()">
          Add Bed
        </button>  
        <button class="button button-dark" ng-click="addTv()">
          Watch Tv
        </button> 
      </div>
        <div id="three"></div>

      </ion-content>
    </ion-view>