    <ion-view view-title="3D Room">
            <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-email" onclick="openDraft()"></button>
      </ion-nav-buttons>

      <ion-content class="padding">
        <div class="card">
          <div class="item">
            <p>Create a 3D room</p>
          </div>    
        </div>
        <div id="test"></div>
        <cardboardd-gl id="section">
          ThreeJS 3D Room:
        </cardboardd-gl>
      </ion-content>
    </ion-view>