    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
        
    <ion-tabs class="tabs-icon-top tabs-positive">

      <ion-tab title="LifeNotes List" icon="ion-pricetag" href="#/menu/tab/lifeNotes">
        <ion-nav-view name="lifeNotes-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="StudyNotes List" icon="ion-clipboard" href="#/menu/tab/list">
        <ion-nav-view name="list-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Wish List" icon="ion-settings" href="#/menu/tab/form">
        <ion-nav-view name="form-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>